/* Open Sans is attributed to Google and legally used under the Apache 2.0 License */

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../src/assets/fonts/Roboto-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../src/assets/fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../src/assets/fonts/OpenSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../src/assets/fonts/OpenSans-Light.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../src/assets/fonts/OpenSans-SemiBold.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(180deg, #eccca2 0%, #f9b1b1 98%);
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
  overflow: hidden;
}
